<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openexpense.dao.UserDao">
    <select id="queryOne" resultType="com.openexpense.model.User">
        SELECT * FROM oe_user WHERE user_id = #{userid}
    </select>

    <select id="queryOneByEmail" resultType="com.openexpense.model.User">
        SELECT * FROM oe_user WHERE user_email = #{user_email}
    </select>

    <select id="queryOneCompanyUser" resultType="com.openexpense.model.User">
        SELECT * from oe_user where company_id = #{company_id} and user_code = #{user_code}
    </select>
</mapper>